In [1]:
#Membuat sebuah Tuple
buah = ('apel','jeruk','pisang','anggur')

#Mengakses elemen Tuple
print(buah[0]) #Output: 'apel'
print(buah[1]) #Output: 'jeruk'

#Tupple bersifat tidak dapat diubah (immutable)
#Jika mencoba mengubah elemen Tuple, akan muncuk error
#buah[0] = 'mangga' #Ini akan menghasilkan TypeError

apel
jeruk

In [6]:
#Membuat sebuah Dictionary
data_mahasiswa = {
    'nim': 'G.231.22.0103',
    'nama': 'Jovita Wayan R',
    'jurusan': 'Teknik Informatika',
    'semester': 3
}

#Mengakses nilai dalam Dictionary
print(data_mahasiswa['nim'])  #Output: 'G.231.22.0103'
print(data_mahasiswa['nama']) #Output: 'Jovita Wayan R'

#Menambahkan elemen baru ke Dictionary
data_mahasiswa['ipk'] = 3.9

#Mengubah nilai dalam Dictionary
data_mahasiswa['semester'] = 3

#Menghapus elemen dari Dictionary
del data_mahasiswa['jurusan']

#iterasi melalui semua kunci dalam Dictionary
for key in data_mahasiswa:
    print(key,':', data_mahasiswa[key])

#iterasi melelui semua nilai dalam Dictionary
for value in data_mahasiswa.values():
  print(value)

#iterasi melalui semua pasangan kunci dan nilai dalam Dictionary
for key, value in data_mahasiswa.items():
    print(key, ':', value)

G.231.22.0103
Jovita Wayan R
nim : G.231.22.0103
nama : Jovita Wayan R
semester : 3
ipk : 3.9
G.231.22.0103
Jovita Wayan R
3
3.9
nim : G.231.22.0103
nama : Jovita Wayan R
semester : 3
ipk : 3.9